langchain==0.3.7
langchain-core==0.3.63
langchain-community==0.3.7
langchain-chroma==0.1.4
langchain-text-splitters==0.3.8
langchain-google-genai==2.0.4
langchain-huggingface==0.1.0
langchain-openai==0.2.6

langgraph==0.2.45
langgraph-checkpoint==2.1.2
langgraph-sdk==0.1.74

chromadb==0.5.23

sentence-transformers==5.3.0
transformers==4.46.3
torch==2.11.0

PyMuPDF==1.27.2.2

python-dotenv==1.2.2
tenacity==9.1.4
termcolor==3.3.0

tiktoken==0.12.0